h1{
    color:black
}
body{
    background-color:burlywood
}
.header{
    color:darkmagenta;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
}
.item{
    color:deeppink;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: italic;
}